In [1]:
!pip install -r requirements.txt

Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (1.20.2)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (1.2.4)
Requirement already satisfied: sklearn in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (0.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->-r requirements.txt (line 2)) (1.15.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.8/site-packages (from sklearn->-r requirements.txt (line 3)) (0.24.2)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (1.6.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (2.1.0)

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data/demographic-snapshot-2016-17-to-2020-21-public-citywide.csv')
df.head()

,Year,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,2016-17,"1,141,232","72,553","82,517","86,008","86,279","85,050","84,185","80,563","78,985",...,14.9%,"4,899",0.4%,"228,347",20.0%,"153,466",13.4%,"800,985",70.2%,61.0%
1,2017-18,"1,135,334","71,528","81,588","83,578","83,978","84,363","83,367","83,277","79,114",...,15.0%,"4,430",0.4%,"231,910",20.4%,"153,661",13.5%,"856,483",75.4%,71.9%
2,2018-19,"1,126,501","73,904","78,627","81,908","81,205","81,706","82,510","82,044","81,289",...,15.1%,"4,661",0.4%,"234,497",20.8%,"148,815",13.2%,"834,003",74.0%,71.3%
3,2019-20,"1,131,868","87,480","78,587","79,171","80,298","79,555","80,287","81,513","80,250",...,15.1%,"7,984",0.7%,"234,132",20.7%,"142,420",12.6%,"834,657",73.7%,72.8%
4,2020-21,"1,094,138","75,981","72,265","76,037","75,904","77,237","77,034","77,979","78,763",...,14.8%,"7,200",0.7%,"227,105",20.8%,"145,723",13.3%,"798,531",73.0%,71.4%

In [4]:
df.shape

(5, 41)

In [5]:
df

,Year,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,2016-17,"1,141,232","72,553","82,517","86,008","86,279","85,050","84,185","80,563","78,985",...,14.9%,"4,899",0.4%,"228,347",20.0%,"153,466",13.4%,"800,985",70.2%,61.0%
1,2017-18,"1,135,334","71,528","81,588","83,578","83,978","84,363","83,367","83,277","79,114",...,15.0%,"4,430",0.4%,"231,910",20.4%,"153,661",13.5%,"856,483",75.4%,71.9%
2,2018-19,"1,126,501","73,904","78,627","81,908","81,205","81,706","82,510","82,044","81,289",...,15.1%,"4,661",0.4%,"234,497",20.8%,"148,815",13.2%,"834,003",74.0%,71.3%
3,2019-20,"1,131,868","87,480","78,587","79,171","80,298","79,555","80,287","81,513","80,250",...,15.1%,"7,984",0.7%,"234,132",20.7%,"142,420",12.6%,"834,657",73.7%,72.8%
4,2020-21,"1,094,138","75,981","72,265","76,037","75,904","77,237","77,034","77,979","78,763",...,14.8%,"7,200",0.7%,"227,105",20.8%,"145,723",13.3%,"798,531",73.0%,71.4%

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 41 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               5 non-null      object
 1   Total Enrollment                   5 non-null      object
 2   Grade 3K+PK (Half Day & Full Day)  5 non-null      object
 3   Grade K                            5 non-null      object
 4   Grade 1                            5 non-null      object
 5   Grade 2                            5 non-null      object
 6   Grade 3                            5 non-null      object
 7   Grade 4                            5 non-null      object
 8   Grade 5                            5 non-null      object
 9   Grade 6                            5 non-null      object
 10  Grade 7                            5 non-null      object
 11  Grade 8                            5 non-null      object
 12  Grade 9                            5 non-null      object
 13  Grade 10                           5 non-null      object
 14  Grade 11                           5 non-null      object
 15  Grade 12                           5 non-null      object
 16  # Female                           5 non-null      object
 17  % Female                           5 non-null      object
 18  # Male                             5 non-null      object
 19  % Male                             5 non-null      object
 20  # Asian                            5 non-null      object
 21  % Asian                            5 non-null      object
 22  # Black                            5 non-null      object
 23  % Black                            5 non-null      object
 24  # Hispanic                         5 non-null      object
 25  % Hispanic                         5 non-null      object
 26  # Multi-Racial                     5 non-null      object
 27  % Multi-Racial                     5 non-null      object
 28  # Native American                  5 non-null      object
 29  % Native American                  5 non-null      object
 30  # White                            5 non-null      object
 31  % White                            5 non-null      object
 32  # Missing Race/Ethnicity Data      5 non-null      object
 33  % Missing Race/Ethnicity Data      5 non-null      object
 34  # Students with Disabilities       5 non-null      object
 35  % Students with Disabilities       5 non-null      object
 36  # English Language Learners        5 non-null      object
 37  % English Language Learners        5 non-null      object
 38  # Poverty                          5 non-null      object
 39  % Poverty                          5 non-null      object
 40  Economic Need Index                5 non-null      object
dtypes: object(41)
memory usage: 1.7+ KB

In [16]:
df['Grade K'] = df['Grade K'].str.split(',').str.join('').astype(int)
df['Grade 1'] = df['Grade 1'].str.split(',').str.join('').astype(int)
df['Grade 2'] = df['Grade 2'].str.split(',').str.join('').astype(int)
df['Grade 3'] = df['Grade 3'].str.split(',').str.join('').astype(int)
df['Grade 4'] = df['Grade 4'].str.split(',').str.join('').astype(int)
df['Grade 5'] = df['Grade 5'].str.split(',').str.join('').astype(int)
df['Grade 6'] = df['Grade 6'].str.split(',').str.join('').astype(int)
df['Grade 7'] = df['Grade 7'].str.split(',').str.join('').astype(int)
df['Grade 8'] = df['Grade 8'].str.split(',').str.join('').astype(int)
df['Grade 9'] = df['Grade 9'].str.split(',').str.join('').astype(int)
df['Grade 10'] = df['Grade 10'].str.split(',').str.join('').astype(int)
df['Grade 11'] = df['Grade 11'].str.split(',').str.join('').astype(int)
df['Grade 12'] = df['Grade 12'].str.split(',').str.join('').astype(int)
df['Total Enrollment'] = df['Total Enrollment'].str.split(',').str.join('').astype(int)
df['Grade 3K+PK (Half Day & Full Day)'] = df['Grade 3K+PK (Half Day & Full Day)'].str.split(',').str.join('').astype(int)

In [17]:
df.dtypes

Total Enrollment                      int64
Grade 3K+PK (Half Day & Full Day)     int64
Grade K                               int64
Grade 1                               int64
Grade 2                               int64
Grade 3                               int64
Grade 4                               int64
Grade 5                               int64
Grade 6                               int64
Grade 7                               int64
Grade 8                               int64
Grade 9                               int64
Grade 10                              int64
Grade 11                              int64
Grade 12                              int64
# Female                             object
% Female                             object
# Male                               object
% Male                               object
# Asian                              object
% Asian                              object
# Black                              object
% Black                              object
# Hispanic                           object
% Hispanic                           object
# Multi-Racial                       object
% Multi-Racial                       object
# Native American                    object
% Native American                    object
# White                              object
% White                              object
# Missing Race/Ethnicity Data        object
% Missing Race/Ethnicity Data        object
# Students with Disabilities         object
% Students with Disabilities         object
# English Language Learners          object
% English Language Learners          object
# Poverty                            object
% Poverty                            object
Economic Need Index                  object
dtype: object

In [9]:
pd.to_datetime(df.Year, errors = 'ignore')

0    2016-17
1    2017-18
2    2018-19
3    2019-20
4    2020-21
Name: Year, dtype: object

In [10]:
df.dtypes

Year                                 object
Total Enrollment                      int64
Grade 3K+PK (Half Day & Full Day)     int64
Grade K                               int64
Grade 1                               int64
Grade 2                               int64
Grade 3                               int64
Grade 4                               int64
Grade 5                               int64
Grade 6                               int64
Grade 7                               int64
Grade 8                               int64
Grade 9                               int64
Grade 10                              int64
Grade 11                              int64
Grade 12                              int64
# Female                             object
% Female                             object
# Male                               object
% Male                               object
# Asian                              object
% Asian                              object
# Black                              object
% Black                              object
# Hispanic                           object
% Hispanic                           object
# Multi-Racial                       object
% Multi-Racial                       object
# Native American                    object
% Native American                    object
# White                              object
% White                              object
# Missing Race/Ethnicity Data        object
% Missing Race/Ethnicity Data        object
# Students with Disabilities         object
% Students with Disabilities         object
# English Language Learners          object
% English Language Learners          object
# Poverty                            object
% Poverty                            object
Economic Need Index                  object
dtype: object

In [11]:
df['Year'] = pd.to_datetime(df['Year'])

ValueError: Given date string not likely a datetime.

In [12]:
df.dtypes

Year                                 object
Total Enrollment                      int64
Grade 3K+PK (Half Day & Full Day)     int64
Grade K                               int64
Grade 1                               int64
Grade 2                               int64
Grade 3                               int64
Grade 4                               int64
Grade 5                               int64
Grade 6                               int64
Grade 7                               int64
Grade 8                               int64
Grade 9                               int64
Grade 10                              int64
Grade 11                              int64
Grade 12                              int64
# Female                             object
% Female                             object
# Male                               object
% Male                               object
# Asian                              object
% Asian                              object
# Black                              object
% Black                              object
# Hispanic                           object
% Hispanic                           object
# Multi-Racial                       object
% Multi-Racial                       object
# Native American                    object
% Native American                    object
# White                              object
% White                              object
# Missing Race/Ethnicity Data        object
% Missing Race/Ethnicity Data        object
# Students with Disabilities         object
% Students with Disabilities         object
# English Language Learners          object
% English Language Learners          object
# Poverty                            object
% Poverty                            object
Economic Need Index                  object
dtype: object

In [13]:
df = pd.read_csv('data/demographic-snapshot-2016-17-to-2020-21-public-citywide.csv', dtype={'Year': datetime})

NameError: name 'datetime' is not defined

In [14]:
df['Year'] = pd.to_datetime(df['Year'])

ValueError: Given date string not likely a datetime.

In [15]:
df = pd.read_csv('data/demographic-snapshot-2016-17-to-2020-21-public-citywide.csv', 
                 index_col=0, parse_dates=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 2016-17 to 2020-21
Data columns (total 40 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Total Enrollment                   5 non-null      object
 1   Grade 3K+PK (Half Day & Full Day)  5 non-null      object
 2   Grade K                            5 non-null      object
 3   Grade 1                            5 non-null      object
 4   Grade 2                            5 non-null      object
 5   Grade 3                            5 non-null      object
 6   Grade 4                            5 non-null      object
 7   Grade 5                            5 non-null      object
 8   Grade 6                            5 non-null      object
 9   Grade 7                            5 non-null      object
 10  Grade 8                            5 non-null      object
 11  Grade 9                            5 non-null      object
 12  Grade 10                           5 non-null      object
 13  Grade 11                           5 non-null      object
 14  Grade 12                           5 non-null      object
 15  # Female                           5 non-null      object
 16  % Female                           5 non-null      object
 17  # Male                             5 non-null      object
 18  % Male                             5 non-null      object
 19  # Asian                            5 non-null      object
 20  % Asian                            5 non-null      object
 21  # Black                            5 non-null      object
 22  % Black                            5 non-null      object
 23  # Hispanic                         5 non-null      object
 24  % Hispanic                         5 non-null      object
 25  # Multi-Racial                     5 non-null      object
 26  % Multi-Racial                     5 non-null      object
 27  # Native American                  5 non-null      object
 28  % Native American                  5 non-null      object
 29  # White                            5 non-null      object
 30  % White                            5 non-null      object
 31  # Missing Race/Ethnicity Data      5 non-null      object
 32  % Missing Race/Ethnicity Data      5 non-null      object
 33  # Students with Disabilities       5 non-null      object
 34  % Students with Disabilities       5 non-null      object
 35  # English Language Learners        5 non-null      object
 36  % English Language Learners        5 non-null      object
 37  # Poverty                          5 non-null      object
 38  % Poverty                          5 non-null      object
 39  Economic Need Index                5 non-null      object
dtypes: object(40)
memory usage: 1.6+ KB

In [18]:
df.head()

,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
Year,,,,,,,,,,,,,,,,,,,,,
2016-17,1141232,72553,82517,86008,86279,85050,84185,80563,78985,76778,...,14.9%,"4,899",0.4%,"228,347",20.0%,"153,466",13.4%,"800,985",70.2%,61.0%
2017-18,1135334,71528,81588,83578,83978,84363,83367,83277,79114,78125,...,15.0%,"4,430",0.4%,"231,910",20.4%,"153,661",13.5%,"856,483",75.4%,71.9%
2018-19,1126501,73904,78627,81908,81205,81706,82510,82044,81289,78451,...,15.1%,"4,661",0.4%,"234,497",20.8%,"148,815",13.2%,"834,003",74.0%,71.3%
2019-20,1131868,87480,78587,79171,80298,79555,80287,81513,80250,80638,...,15.1%,"7,984",0.7%,"234,132",20.7%,"142,420",12.6%,"834,657",73.7%,72.8%
2020-21,1094138,75981,72265,76037,75904,77237,77034,77979,78763,78698,...,14.8%,"7,200",0.7%,"227,105",20.8%,"145,723",13.3%,"798,531",73.0%,71.4%

In [19]:
df.to_csv('data/clean_demographic_snapshot_citywide.csv', encoding='utf-8')