In [1]:
!pip install -r requirements.txt

Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (1.20.2)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (1.2.4)
Requirement already satisfied: sklearn in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (0.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->-r requirements.txt (line 2)) (1.15.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.8/site-packages (from sklearn->-r requirements.txt (line 3)) (0.24.2)
Requirement already satisfied: scipy>=0.19.1 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (1.6.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (1.0.1)

In [2]:
import sklearn
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('data/ssa-report-school-1q-2021.csv')
df.head()

,School Campus,Intervention Type,Incident Location,Greater Than 21,Scanning Type,Scanning Incident,School Related,School Hours,Enforcment By,Restraints,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,Academy for Integrated Learning (BN),Child in Crisis,On-Site,No,Non-Scanning,N,Y,Y,NaN,No Restraints,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUGUST MARTIN HS(QS),Child in Crisis,On-Site,No,Full-Time,N,Y,Y,NaN,No Restraints,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BRONX HEALTH SCIENCES HS(XE),Child in Crisis,On-Site,No,Full-Time,N,Y,Y,NaN,No Restraints,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CHANNEL VIEW SCHOOL FOR RESEARCH(QS),Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CLARA BARTON HS(BS),Child in Crisis,On-Site,No,Full-Time,N,Y,Y,NaN,No Restraints,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
len(df)

102

In [6]:
df.shape

(102, 28)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   School Campus      102 non-null    object
 1   Intervention Type  102 non-null    object
 2   Incident Location  102 non-null    object
 3   Greater Than 21    102 non-null    object
 4   Scanning Type      102 non-null    object
 5   Scanning Incident  102 non-null    object
 6   School Related     102 non-null    object
 7   School Hours       102 non-null    object
 8   Enforcment By      64 non-null     object
 9   Restraints         102 non-null    object
 10  Force              102 non-null    object
 11  Type Of Force      102 non-null    object
 12  Top Charge         5 non-null      object
 13  SummonsCharge      0 non-null      float64
 14  Classification     10 non-null     object
 15  Unnamed: 15        0 non-null      float64
 16  Unnamed: 16        0 non-null      float64
 17  Unnamed: 17        0 non-null      float64
 18  Unnamed: 18        0 non-null      float64
 19  Unnamed: 19        0 non-null      float64
 20  Unnamed: 20        0 non-null      float64
 21  Unnamed: 21        0 non-null      float64
 22  Unnamed: 22        0 non-null      float64
 23  Unnamed: 23        0 non-null      float64
 24  Unnamed: 24        0 non-null      float64
 25  Unnamed: 25        0 non-null      float64
 26  Unnamed: 26        0 non-null      float64
 27  Unnamed: 27        0 non-null      float64
dtypes: float64(14), object(14)
memory usage: 22.4+ KB

In [8]:
df.describe()

,SummonsCharge,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.describe(include=[object])

,School Campus,Intervention Type,Incident Location,Greater Than 21,Scanning Type,Scanning Incident,School Related,School Hours,Enforcment By,Restraints,Force,Type Of Force,Top Charge,Classification
count,102,102,102,102,102,102,102,102,64,102,102,102,5,10
unique,81,4,1,2,2,2,2,2,3,2,2,2,5,3
top,IS 51(SI),Mitigated,On-Site,No,Non-Scanning,N,Y,Y,DOE,No Restraints,N,None,OBSTRUCT BREATH,M
freq,6,48,102,97,76,92,98,100,47,91,99,99,1,5

In [10]:
df.nunique()

School Campus        81
Intervention Type     4
Incident Location     1
Greater Than 21       2
Scanning Type         2
Scanning Incident     2
School Related        2
School Hours          2
Enforcment By         3
Restraints            2
Force                 2
Type Of Force         2
Top Charge            5
SummonsCharge         0
Classification        3
Unnamed: 15           0
Unnamed: 16           0
Unnamed: 17           0
Unnamed: 18           0
Unnamed: 19           0
Unnamed: 20           0
Unnamed: 21           0
Unnamed: 22           0
Unnamed: 23           0
Unnamed: 24           0
Unnamed: 25           0
Unnamed: 26           0
Unnamed: 27           0
dtype: int64

In [11]:
df.isnull().sum()

School Campus          0
Intervention Type      0
Incident Location      0
Greater Than 21        0
Scanning Type          0
Scanning Incident      0
School Related         0
School Hours           0
Enforcment By         38
Restraints             0
Force                  0
Type Of Force          0
Top Charge            97
SummonsCharge        102
Classification        92
Unnamed: 15          102
Unnamed: 16          102
Unnamed: 17          102
Unnamed: 18          102
Unnamed: 19          102
Unnamed: 20          102
Unnamed: 21          102
Unnamed: 22          102
Unnamed: 23          102
Unnamed: 24          102
Unnamed: 25          102
Unnamed: 26          102
Unnamed: 27          102
dtype: int64

In [23]:
# del df['Unnamed: 15']
# del df['Unnamed: 16']
# del df['Unnamed: 17']
# del df['Unnamed: 18']
# del df['Unnamed: 19']
# del df['Unnamed: 20']
# del df['Unnamed: 21']
# del df['Unnamed: 22']
del df['Unnamed: 23']
del df['Unnamed: 24']
del df['Unnamed: 25']
del df['Unnamed: 26']
del df['Unnamed: 27']

In [24]:
df

,School Campus,Intervention Type,Incident Location,Greater Than 21,Scanning Type,Scanning Incident,School Related,School Hours,Enforcment By,Restraints,Force,Type Of Force,Top Charge,SummonsCharge,Classification
0,Academy for Integrated Learning (BN),Child in Crisis,On-Site,No,Non-Scanning,N,Y,Y,NaN,No Restraints,N,None,NaN,NaN,NaN
1,AUGUST MARTIN HS(QS),Child in Crisis,On-Site,No,Full-Time,N,Y,Y,NaN,No Restraints,N,None,NaN,NaN,NaN
2,BRONX HEALTH SCIENCES HS(XE),Child in Crisis,On-Site,No,Full-Time,N,Y,Y,NaN,No Restraints,N,None,NaN,NaN,NaN
3,CHANNEL VIEW SCHOOL FOR RESEARCH(QS),Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
4,CLARA BARTON HS(BS),Child in Crisis,On-Site,No,Full-Time,N,Y,Y,NaN,No Restraints,N,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,The Urban Assembly School for Applied Math & S...,Mitigated,On-Site,No,Non-Scanning,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
98,THEATRE ARTS PRODUCTION COMPANY SCHOOL(Bronx),Child in Crisis,On-Site,No,Non-Scanning,N,Y,Y,NaN,No Restraints,N,None,NaN,NaN,NaN
99,THOMAS JEFFERSON HS(Brooklyn),Juvenile Report,On-Site,No,Full-Time,Y,Y,Y,SSA,No Restraints,N,None,NaN,NaN,V
100,THOMAS JEFFERSON HS(Brooklyn),Child in Crisis,On-Site,No,Full-Time,N,Y,Y,NaN,No Restraints,N,None,NaN,NaN,NaN
101,TITO PUENTE EDUCATION COMPLEX(Manhattan),Child in Crisis,On-Site,No,Non-Scanning,N,Y,Y,NaN,No Restraints,N,None,NaN,NaN,NaN

In [26]:
df.to_csv('data/clean-ssa-report-school-1q-2021.csv', encoding='utf-8')