In [38]:
!pip install -r requirements.txt

Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (1.20.2)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (1.2.4)
Requirement already satisfied: sklearn in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (0.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->-r requirements.txt (line 2)) (1.15.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.8/site-packages (from sklearn->-r requirements.txt (line 3)) (0.24.2)
Requirement already satisfied: scipy>=0.19.1 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (1.6.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (1.0.1)

In [39]:
import numpy as np
import pandas as pd

In [40]:
df = pd.read_csv('data/demographic-snapshot-2016-17-to-2020-21-public-district.csv')
df.head()

,Administrative District,Year,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,1,2016-17,"11,772",827,850,907,889,859,834,808,...,17.5%,27,0.2%,"2,555",21.7%,"1,065",9.0%,"7,265",61.7%,59.7%
1,1,2017-18,"11,632",800,851,846,854,862,839,813,...,17.4%,29,0.2%,"2,528",21.7%,"1,016",8.7%,"7,682",66.0%,67.0%
2,1,2018-19,"11,376",759,799,850,816,838,839,832,...,18.0%,38,0.3%,"2,597",22.8%,966,8.5%,"7,314",64.3%,66.1%
3,1,2019-20,"11,506",960,812,782,848,813,818,831,...,17.9%,126,1.1%,"2,593",22.5%,919,8.0%,"7,419",64.5%,67.7%
4,1,2020-21,"11,021",832,728,762,746,787,775,788,...,18.1%,101,0.9%,"2,455",22.3%,915,8.3%,"6,960",63.2%,66.3%

In [41]:
df.shape

(175, 42)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 1 to 84
Data columns (total 41 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               175 non-null    object
 1   Total Enrollment                   175 non-null    int64
 2   Grade 3K+PK (Half Day & Full Day)  175 non-null    int64
 3   Grade K                            175 non-null    int64
 4   Grade 1                            175 non-null    int64
 5   Grade 2                            175 non-null    int64
 6   Grade 3                            175 non-null    int64
 7   Grade 4                            175 non-null    int64
 8   Grade 5                            175 non-null    int64
 9   Grade 6                            175 non-null    int64
 10  Grade 7                            175 non-null    int64
 11  Grade 8                            175 non-null    int64
 12  Grade 9                            175 non-null    int64
 13  Grade 10                           175 non-null    int64
 14  Grade 11                           175 non-null    int64
 15  Grade 12                           175 non-null    int64
 16  # Female                           175 non-null    object
 17  % Female                           175 non-null    object
 18  # Male                             175 non-null    object
 19  % Male                             175 non-null    object
 20  # Asian                            175 non-null    object
 21  % Asian                            175 non-null    object
 22  # Black                            175 non-null    object
 23  % Black                            175 non-null    object
 24  # Hispanic                         175 non-null    object
 25  % Hispanic                         175 non-null    object
 26  # Multi-Racial                     175 non-null    object
 27  % Multi-Racial                     175 non-null    object
 28  # Native American                  175 non-null    object
 29  % Native American                  175 non-null    object
 30  # White                            175 non-null    object
 31  % White                            175 non-null    object
 32  # Missing Race/Ethnicity Data      175 non-null    int64
 33  % Missing Race/Ethnicity Data      175 non-null    object
 34  # Students with Disabilities       175 non-null    object
 35  % Students with Disabilities       175 non-null    object
 36  # English Language Learners        175 non-null    object
 37  % English Language Learners        175 non-null    object
 38  # Poverty                          175 non-null    object
 39  % Poverty                          175 non-null    object
 40  Economic Need Index                175 non-null    object
dtypes: int64(16), object(25)
memory usage: 57.4+ KB

In [53]:
df['Grade K'] = df['Grade K'].str.split(',').str.join('').astype(int)
df['Grade 1'] = df['Grade 1'].str.split(',').str.join('').astype(int)
df['Grade 2'] = df['Grade 2'].str.split(',').str.join('').astype(int)
df['Grade 3'] = df['Grade 3'].str.split(',').str.join('').astype(int)
df['Grade 4'] = df['Grade 4'].str.split(',').str.join('').astype(int)
df['Grade 5'] = df['Grade 5'].str.split(',').str.join('').astype(int)
df['Grade 6'] = df['Grade 6'].str.split(',').str.join('').astype(int)
df['Grade 7'] = df['Grade 7'].str.split(',').str.join('').astype(int)
df['Grade 8'] = df['Grade 8'].str.split(',').str.join('').astype(int)
df['Grade 9'] = df['Grade 9'].str.split(',').str.join('').astype(int)
df['Grade 10'] = df['Grade 10'].str.split(',').str.join('').astype(int)
df['Grade 11'] = df['Grade 11'].str.split(',').str.join('').astype(int)
df['Grade 12'] = df['Grade 12'].str.split(',').str.join('').astype(int)
df['Total Enrollment'] = df['Total Enrollment'].str.split(',').str.join('').astype(int)
df['Grade 3K+PK (Half Day & Full Day)'] = df['Grade 3K+PK (Half Day & Full Day)'].str.split(',').str.join('').astype(int)

In [44]:
df.describe()

,Administrative District,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade 10,Grade 11,Grade 12,# Missing Race/Ethnicity Data
count,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000
mean,21.885714,32166.131429,2179.691429,2324.011429,2329.508571,2330.920000,2327.902857,2316.434286,2276.577143,2243.942857,2221.200000,2544.005714,2529.497143,2113.588571,2179.800000,166.708571
std,19.766992,22119.967562,1213.090040,2111.953018,2036.916770,1945.831248,1826.078219,1807.115529,1904.109347,1767.559714,1607.444978,1887.269957,1742.424160,1566.564710,1472.031172,141.667008
min,1.000000,5092.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,9.000000,130.000000,270.000000,327.000000,92.000000,321.000000,0.000000
25%,9.000000,18644.000000,1244.000000,1114.000000,1082.500000,1113.000000,1148.000000,1130.500000,1079.500000,1087.000000,1072.000000,1163.500000,1434.000000,1101.000000,1144.000000,58.000000
50%,18.000000,26524.000000,1988.000000,1858.000000,1901.000000,1890.000000,1925.000000,1902.000000,1960.000000,1922.000000,1933.000000,2039.000000,2157.000000,1768.000000,1915.000000,134.000000
75%,27.000000,40592.500000,3037.500000,2949.000000,2909.000000,2871.000000,2872.000000,2865.000000,2987.500000,2953.000000,2946.500000,3278.500000,3364.000000,2688.500000,2874.000000,233.500000
max,84.000000,138648.000000,6224.000000,13775.000000,13331.000000,12526.000000,11982.000000,11474.000000,12952.000000,12093.000000,10584.000000,10188.000000,9609.000000,8654.000000,8173.000000,744.000000

In [45]:
df.isnull().sum()

Administrative District              0
Year                                 0
Total Enrollment                     0
Grade 3K+PK (Half Day & Full Day)    0
Grade K                              0
Grade 1                              0
Grade 2                              0
Grade 3                              0
Grade 4                              0
Grade 5                              0
Grade 6                              0
Grade 7                              0
Grade 8                              0
Grade 9                              0
Grade 10                             0
Grade 11                             0
Grade 12                             0
# Female                             0
% Female                             0
# Male                               0
% Male                               0
# Asian                              0
% Asian                              0
# Black                              0
% Black                              0
# Hispanic                           0
% Hispanic                           0
# Multi-Racial                       0
% Multi-Racial                       0
# Native American                    0
% Native American                    0
# White                              0
% White                              0
# Missing Race/Ethnicity Data        0
% Missing Race/Ethnicity Data        0
# Students with Disabilities         0
% Students with Disabilities         0
# English Language Learners          0
% English Language Learners          0
# Poverty                            0
% Poverty                            0
Economic Need Index                  0
dtype: int64

In [46]:
df.nunique()

Administrative District               35
Year                                   5
Total Enrollment                     174
Grade 3K+PK (Half Day & Full Day)    169
Grade K                              167
Grade 1                              165
Grade 2                              167
Grade 3                              168
Grade 4                              163
Grade 5                              169
Grade 6                              169
Grade 7                              174
Grade 8                              171
Grade 9                              171
Grade 10                             173
Grade 11                             170
Grade 12                             174
# Female                             174
% Female                              69
# Male                               174
% Male                                69
# Asian                              168
% Asian                              108
# Black                              174
% Black                              145
# Hispanic                           173
% Hispanic                           147
# Multi-Racial                       157
% Multi-Racial                        34
# Native American                    151
% Native American                     26
# White                              172
% White                              115
# Missing Race/Ethnicity Data        143
% Missing Race/Ethnicity Data         18
# Students with Disabilities         173
% Students with Disabilities          91
# English Language Learners          170
% English Language Learners          114
# Poverty                            175
% Poverty                            143
Economic Need Index                  146
dtype: int64

In [47]:
df.describe()

,Administrative District,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade 10,Grade 11,Grade 12,# Missing Race/Ethnicity Data
count,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000,175.000000
mean,21.885714,32166.131429,2179.691429,2324.011429,2329.508571,2330.920000,2327.902857,2316.434286,2276.577143,2243.942857,2221.200000,2544.005714,2529.497143,2113.588571,2179.800000,166.708571
std,19.766992,22119.967562,1213.090040,2111.953018,2036.916770,1945.831248,1826.078219,1807.115529,1904.109347,1767.559714,1607.444978,1887.269957,1742.424160,1566.564710,1472.031172,141.667008
min,1.000000,5092.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,9.000000,130.000000,270.000000,327.000000,92.000000,321.000000,0.000000
25%,9.000000,18644.000000,1244.000000,1114.000000,1082.500000,1113.000000,1148.000000,1130.500000,1079.500000,1087.000000,1072.000000,1163.500000,1434.000000,1101.000000,1144.000000,58.000000
50%,18.000000,26524.000000,1988.000000,1858.000000,1901.000000,1890.000000,1925.000000,1902.000000,1960.000000,1922.000000,1933.000000,2039.000000,2157.000000,1768.000000,1915.000000,134.000000
75%,27.000000,40592.500000,3037.500000,2949.000000,2909.000000,2871.000000,2872.000000,2865.000000,2987.500000,2953.000000,2946.500000,3278.500000,3364.000000,2688.500000,2874.000000,233.500000
max,84.000000,138648.000000,6224.000000,13775.000000,13331.000000,12526.000000,11982.000000,11474.000000,12952.000000,12093.000000,10584.000000,10188.000000,9609.000000,8654.000000,8173.000000,744.000000

In [48]:
df = pd.read_csv('data/demographic-snapshot-2016-17-to-2020-21-public-district.csv', 
                 index_col=0, parse_dates=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 1 to 84
Data columns (total 41 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               175 non-null    object
 1   Total Enrollment                   175 non-null    object
 2   Grade 3K+PK (Half Day & Full Day)  175 non-null    object
 3   Grade K                            175 non-null    object
 4   Grade 1                            175 non-null    object
 5   Grade 2                            175 non-null    object
 6   Grade 3                            175 non-null    object
 7   Grade 4                            175 non-null    object
 8   Grade 5                            175 non-null    object
 9   Grade 6                            175 non-null    object
 10  Grade 7                            175 non-null    object
 11  Grade 8                            175 non-null    object
 12  Grade 9                            175 non-null    object
 13  Grade 10                           175 non-null    object
 14  Grade 11                           175 non-null    object
 15  Grade 12                           175 non-null    object
 16  # Female                           175 non-null    object
 17  % Female                           175 non-null    object
 18  # Male                             175 non-null    object
 19  % Male                             175 non-null    object
 20  # Asian                            175 non-null    object
 21  % Asian                            175 non-null    object
 22  # Black                            175 non-null    object
 23  % Black                            175 non-null    object
 24  # Hispanic                         175 non-null    object
 25  % Hispanic                         175 non-null    object
 26  # Multi-Racial                     175 non-null    object
 27  % Multi-Racial                     175 non-null    object
 28  # Native American                  175 non-null    object
 29  % Native American                  175 non-null    object
 30  # White                            175 non-null    object
 31  % White                            175 non-null    object
 32  # Missing Race/Ethnicity Data      175 non-null    int64
 33  % Missing Race/Ethnicity Data      175 non-null    object
 34  # Students with Disabilities       175 non-null    object
 35  % Students with Disabilities       175 non-null    object
 36  # English Language Learners        175 non-null    object
 37  % English Language Learners        175 non-null    object
 38  # Poverty                          175 non-null    object
 39  % Poverty                          175 non-null    object
 40  Economic Need Index                175 non-null    object
dtypes: int64(1), object(40)
memory usage: 57.4+ KB

In [49]:
df.head()

,Year,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
Administrative District,,,,,,,,,,,,,,,,,,,,,
1,2016-17,"11,772",827,850,907,889,859,834,808,828,...,17.5%,27,0.2%,"2,555",21.7%,"1,065",9.0%,"7,265",61.7%,59.7%
1,2017-18,"11,632",800,851,846,854,862,839,813,786,...,17.4%,29,0.2%,"2,528",21.7%,"1,016",8.7%,"7,682",66.0%,67.0%
1,2018-19,"11,376",759,799,850,816,838,839,832,750,...,18.0%,38,0.3%,"2,597",22.8%,966,8.5%,"7,314",64.3%,66.1%
1,2019-20,"11,506",960,812,782,848,813,818,831,758,...,17.9%,126,1.1%,"2,593",22.5%,919,8.0%,"7,419",64.5%,67.7%
1,2020-21,"11,021",832,728,762,746,787,775,788,755,...,18.1%,101,0.9%,"2,455",22.3%,915,8.3%,"6,960",63.2%,66.3%

In [50]:
df.tail()

,Year,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
Administrative District,,,,,,,,,,,,,,,,,,,,,
84,2016-17,"105,065",518,"11,049","11,370","10,877","10,306","8,426","8,453","9,433",...,4.2%,321,0.3%,"18,001",17.1%,"7,119",6.8%,"81,394",77.5%,67.4%
84,2017-18,"113,528",533,"11,445","12,016","11,447","10,857","10,032","9,584","9,887",...,4.4%,280,0.2%,"20,002",17.6%,"7,859",6.9%,"92,292",81.3%,75.6%
84,2018-19,"119,551",524,"12,001","12,103","11,765","10,955","10,196","10,568","10,871",...,4.3%,281,0.2%,"21,281",17.8%,"8,264",6.9%,"96,585",80.8%,75.4%
84,2019-20,"129,668",572,"13,217","13,130","12,313","11,798","10,928","11,152","12,087",...,4.3%,269,0.2%,"23,257",17.9%,"9,256",7.1%,"104,010",80.2%,78.1%
84,2020-21,"138,648",636,"13,122","13,775","13,331","12,526","11,982","11,474","12,952",...,4.4%,445,0.3%,"24,752",17.9%,"10,628",7.7%,"110,799",79.9%,77.2%

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 1 to 84
Data columns (total 41 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               175 non-null    object
 1   Total Enrollment                   175 non-null    int64
 2   Grade 3K+PK (Half Day & Full Day)  175 non-null    int64
 3   Grade K                            175 non-null    int64
 4   Grade 1                            175 non-null    int64
 5   Grade 2                            175 non-null    int64
 6   Grade 3                            175 non-null    int64
 7   Grade 4                            175 non-null    int64
 8   Grade 5                            175 non-null    int64
 9   Grade 6                            175 non-null    int64
 10  Grade 7                            175 non-null    int64
 11  Grade 8                            175 non-null    int64
 12  Grade 9                            175 non-null    int64
 13  Grade 10                           175 non-null    int64
 14  Grade 11                           175 non-null    int64
 15  Grade 12                           175 non-null    int64
 16  # Female                           175 non-null    object
 17  % Female                           175 non-null    object
 18  # Male                             175 non-null    object
 19  % Male                             175 non-null    object
 20  # Asian                            175 non-null    object
 21  % Asian                            175 non-null    object
 22  # Black                            175 non-null    object
 23  % Black                            175 non-null    object
 24  # Hispanic                         175 non-null    object
 25  % Hispanic                         175 non-null    object
 26  # Multi-Racial                     175 non-null    object
 27  % Multi-Racial                     175 non-null    object
 28  # Native American                  175 non-null    object
 29  % Native American                  175 non-null    object
 30  # White                            175 non-null    object
 31  % White                            175 non-null    object
 32  # Missing Race/Ethnicity Data      175 non-null    int64
 33  % Missing Race/Ethnicity Data      175 non-null    object
 34  # Students with Disabilities       175 non-null    object
 35  % Students with Disabilities       175 non-null    object
 36  # English Language Learners        175 non-null    object
 37  % English Language Learners        175 non-null    object
 38  # Poverty                          175 non-null    object
 39  % Poverty                          175 non-null    object
 40  Economic Need Index                175 non-null    object
dtypes: int64(16), object(25)
memory usage: 57.4+ KB

In [56]:
df.to_csv('data/clean_demographic_snapshot_district.csv', encoding='utf-8')