In [7]:
!pip install -r requirements.txt

Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (1.20.2)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (1.2.4)
Requirement already satisfied: sklearn in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (0.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->-r requirements.txt (line 2)) (1.15.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.8/site-packages (from sklearn->-r requirements.txt (line 3)) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (1.6.3)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (1.0.1)

In [8]:
import numpy as np
import pandas as pd
import sklearn

In [9]:
df = pd.read_csv('data/demographic-snapshot-2016-17-to-2020-21-public-school.csv')
df.head()

,DBN,School Name,Year,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,...,2.2%,0,0.0%,51,28.7%,12,6.7%,152,85.4%,88.2%
1,01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,...,3.2%,0,0.0%,49,25.8%,8,4.2%,161,84.7%,89.0%
2,01M015,P.S. 015 Roberto Clemente,2018-19,174,13,20,33,30,30,20,...,3.4%,0,0.0%,39,22.4%,8,4.6%,147,84.5%,88.8%
3,01M015,P.S. 015 Roberto Clemente,2019-20,190,14,29,28,38,33,29,...,4.7%,0,0.0%,46,24.2%,17,8.9%,155,81.6%,86.7%
4,01M015,P.S. 015 Roberto Clemente,2020-21,193,17,29,29,27,30,32,...,5.7%,0,0.0%,43,22.3%,21,10.9%,158,81.9%,85.6%

In [10]:
df.shape

(9169, 43)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9169 entries, 0 to 9168
Data columns (total 43 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   DBN                                9169 non-null   object
 1   School Name                        9169 non-null   object
 2   Year                               9169 non-null   object
 3   Total Enrollment                   9169 non-null   object
 4   Grade 3K+PK (Half Day & Full Day)  9169 non-null   object
 5   Grade K                            9169 non-null   int64
 6   Grade 1                            9169 non-null   int64
 7   Grade 2                            9169 non-null   int64
 8   Grade 3                            9169 non-null   int64
 9   Grade 4                            9169 non-null   int64
 10  Grade 5                            9169 non-null   int64
 11  Grade 6                            9169 non-null   int64
 12  Grade 7                            9169 non-null   int64
 13  Grade 8                            9169 non-null   int64
 14  Grade 9                            9169 non-null   object
 15  Grade 10                           9169 non-null   object
 16  Grade 11                           9169 non-null   object
 17  Grade 12                           9169 non-null   object
 18  # Female                           9169 non-null   object
 19  % Female                           9169 non-null   object
 20  # Male                             9169 non-null   object
 21  % Male                             9169 non-null   object
 22  # Asian                            9169 non-null   object
 23  % Asian                            9169 non-null   object
 24  # Black                            9169 non-null   object
 25  % Black                            9169 non-null   object
 26  # Hispanic                         9169 non-null   object
 27  % Hispanic                         9169 non-null   object
 28  # Multi-Racial                     9169 non-null   int64
 29  % Multi-Racial                     9169 non-null   object
 30  # Native American                  9169 non-null   int64
 31  % Native American                  9169 non-null   object
 32  # White                            9169 non-null   object
 33  % White                            9169 non-null   object
 34  # Missing Race/Ethnicity Data      9169 non-null   int64
 35  % Missing Race/Ethnicity Data      9169 non-null   object
 36  # Students with Disabilities       9169 non-null   int64
 37  % Students with Disabilities       9169 non-null   object
 38  # English Language Learners        9169 non-null   object
 39  % English Language Learners        9169 non-null   object
 40  # Poverty                          9169 non-null   object
 41  % Poverty                          9169 non-null   object
 42  Economic Need Index                9169 non-null   object
dtypes: int64(13), object(30)
memory usage: 3.0+ MB

In [27]:
# df['Grade K'] = df['Grade K'].str.split(',').str.join('').astype(int)
# df['Grade 1'] = df['Grade 1'].str.split(',').str.join('').astype(int)
# df['Grade 2'] = df['Grade 2'].str.split(',').str.join('').astype(int)
# df['Grade 3'] = df['Grade 3'].str.split(',').str.join('').astype(int)
# df['Grade 4'] = df['Grade 4'].str.split(',').str.join('').astype(int)
# df['Grade 5'] = df['Grade 5'].str.split(',').str.join('').astype(int)
# df['Grade 6'] = df['Grade 6'].str.split(',').str.join('').astype(int)
# df['Grade 7'] = df['Grade 7'].str.split(',').str.join('').astype(int)
# df['Grade 8'] = df['Grade 8'].str.split(',').str.join('').astype(int)
df['Grade 9'] = df['Grade 9'].str.split(',').str.join('').astype(int)
df['Grade 10'] = df['Grade 10'].str.split(',').str.join('').astype(int)
df['Grade 11'] = df['Grade 11'].str.split(',').str.join('').astype(int)
df['Grade 12'] = df['Grade 12'].str.split(',').str.join('').astype(int)
df['Total Enrollment'] = df['Total Enrollment'].str.split(',').str.join('').astype(int)
df['Grade 3K+PK (Half Day & Full Day)'] = df['Grade 3K+PK (Half Day & Full Day)'].str.split(',').str.join('').astype(int)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9169 entries, 01M015 to 84X730
Data columns (total 42 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   School Name                        9169 non-null   object
 1   Year                               9169 non-null   object
 2   Total Enrollment                   9169 non-null   int64
 3   Grade 3K+PK (Half Day & Full Day)  9169 non-null   int64
 4   Grade K                            9169 non-null   int64
 5   Grade 1                            9169 non-null   int64
 6   Grade 2                            9169 non-null   int64
 7   Grade 3                            9169 non-null   int64
 8   Grade 4                            9169 non-null   int64
 9   Grade 5                            9169 non-null   int64
 10  Grade 6                            9169 non-null   int64
 11  Grade 7                            9169 non-null   int64
 12  Grade 8                            9169 non-null   int64
 13  Grade 9                            9169 non-null   int64
 14  Grade 10                           9169 non-null   int64
 15  Grade 11                           9169 non-null   int64
 16  Grade 12                           9169 non-null   int64
 17  # Female                           9169 non-null   object
 18  % Female                           9169 non-null   object
 19  # Male                             9169 non-null   object
 20  % Male                             9169 non-null   object
 21  # Asian                            9169 non-null   object
 22  % Asian                            9169 non-null   object
 23  # Black                            9169 non-null   object
 24  % Black                            9169 non-null   object
 25  # Hispanic                         9169 non-null   object
 26  % Hispanic                         9169 non-null   object
 27  # Multi-Racial                     9169 non-null   int64
 28  % Multi-Racial                     9169 non-null   object
 29  # Native American                  9169 non-null   int64
 30  % Native American                  9169 non-null   object
 31  # White                            9169 non-null   object
 32  % White                            9169 non-null   object
 33  # Missing Race/Ethnicity Data      9169 non-null   int64
 34  % Missing Race/Ethnicity Data      9169 non-null   object
 35  # Students with Disabilities       9169 non-null   int64
 36  % Students with Disabilities       9169 non-null   object
 37  # English Language Learners        9169 non-null   object
 38  % English Language Learners        9169 non-null   object
 39  # Poverty                          9169 non-null   object
 40  % Poverty                          9169 non-null   object
 41  Economic Need Index                9169 non-null   object
dtypes: int64(19), object(23)
memory usage: 3.0+ MB

In [14]:
len(df)

9169

In [15]:
df.describe()

,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade 10,Grade 11,Grade 12,# Multi-Racial,# Native American,# Missing Race/Ethnicity Data,# Students with Disabilities
count,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000,9169.000000
mean,585.955611,17.964336,42.770967,44.196859,44.303305,44.298397,44.197622,43.992257,43.195659,42.561893,42.109281,48.341695,47.994220,39.922238,40.106882,6.453594,6.534300,2.524376,122.522303
std,477.226538,48.498976,49.799159,51.404563,52.081540,53.423370,54.509121,54.500713,88.214932,89.622156,90.158889,130.751310,147.328438,108.200623,108.770918,12.272638,14.409499,8.999338,97.894632
min,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,320.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,67.000000
50%,471.000000,0.000000,30.000000,32.000000,31.000000,29.000000,25.000000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,99.000000
75%,687.000000,32.000000,75.000000,79.000000,79.000000,79.000000,79.000000,79.000000,65.000000,62.000000,60.000000,65.000000,68.000000,54.000000,54.000000,7.000000,7.000000,1.000000,146.000000
max,6040.000000,1328.000000,344.000000,337.000000,330.000000,349.000000,376.000000,351.000000,771.000000,789.000000,776.000000,1555.000000,3832.000000,1529.000000,1566.000000,181.000000,355.000000,234.000000,925.000000

In [16]:
df.isnull().sum()

DBN                                  0
School Name                          0
Year                                 0
Total Enrollment                     0
Grade 3K+PK (Half Day & Full Day)    0
Grade K                              0
Grade 1                              0
Grade 2                              0
Grade 3                              0
Grade 4                              0
Grade 5                              0
Grade 6                              0
Grade 7                              0
Grade 8                              0
Grade 9                              0
Grade 10                             0
Grade 11                             0
Grade 12                             0
# Female                             0
% Female                             0
# Male                               0
% Male                               0
# Asian                              0
% Asian                              0
# Black                              0
% Black                              0
# Hispanic                           0
% Hispanic                           0
# Multi-Racial                       0
% Multi-Racial                       0
# Native American                    0
% Native American                    0
# White                              0
% White                              0
# Missing Race/Ethnicity Data        0
% Missing Race/Ethnicity Data        0
# Students with Disabilities         0
% Students with Disabilities         0
# English Language Learners          0
% English Language Learners          0
# Poverty                            0
% Poverty                            0
Economic Need Index                  0
dtype: int64

In [17]:
df.nunique()

DBN                                  1879
School Name                          1870
Year                                    5
Total Enrollment                     1598
Grade 3K+PK (Half Day & Full Day)     188
Grade K                               245
Grade 1                               249
Grade 2                               255
Grade 3                               273
Grade 4                               275
Grade 5                               277
Grade 6                               445
Grade 7                               452
Grade 8                               453
Grade 9                               485
Grade 10                              477
Grade 11                              447
Grade 12                              447
# Female                              963
% Female                              627
# Male                                995
% Male                                623
# Asian                               790
% Asian                               747
# Black                               751
% Black                               942
# Hispanic                            968
% Hispanic                            973
# Multi-Racial                        109
% Multi-Racial                        133
# Native American                     126
% Native American                     158
# White                               709
% White                               766
# Missing Race/Ethnicity Data          95
% Missing Race/Ethnicity Data          90
# Students with Disabilities          568
% Students with Disabilities          521
# English Language Learners           530
% English Language Learners           652
# Poverty                            1300
% Poverty                             831
Economic Need Index                   859
dtype: int64

In [18]:
df

,DBN,School Name,Year,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,...,2.2%,0,0.0%,51,28.7%,12,6.7%,152,85.4%,88.2%
1,01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,...,3.2%,0,0.0%,49,25.8%,8,4.2%,161,84.7%,89.0%
2,01M015,P.S. 015 Roberto Clemente,2018-19,174,13,20,33,30,30,20,...,3.4%,0,0.0%,39,22.4%,8,4.6%,147,84.5%,88.8%
3,01M015,P.S. 015 Roberto Clemente,2019-20,190,14,29,28,38,33,29,...,4.7%,0,0.0%,46,24.2%,17,8.9%,155,81.6%,86.7%
4,01M015,P.S. 015 Roberto Clemente,2020-21,193,17,29,29,27,30,32,...,5.7%,0,0.0%,43,22.3%,21,10.9%,158,81.9%,85.6%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9164,84X730,Bronx Charter School for the Arts,2016-17,320,0,53,53,55,52,53,...,0.9%,0,0.0%,67,20.9%,51,15.9%,235,73.4%,84.0%
9165,84X730,Bronx Charter School for the Arts,2017-18,314,0,50,51,54,51,52,...,0.3%,0,0.0%,68,21.7%,57,18.2%,258,82.2%,89.1%
9166,84X730,Bronx Charter School for the Arts,2018-19,430,0,49,54,49,54,51,...,0.7%,0,0.0%,103,24.0%,71,16.5%,363,84.4%,88.8%
9167,84X730,Bronx Charter School for the Arts,2019-20,523,0,51,50,53,52,55,...,1.0%,0,0.0%,117,22.4%,69,13.2%,453,86.6%,89.2%
9168,84X730,Bronx Charter School for the Arts,2020-21,626,0,38,52,53,55,55,...,0.6%,1,0.2%,153,24.4%,78,12.5%,541,86.4%,88.2%

In [19]:
df.tail()

,DBN,School Name,Year,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
9164,84X730,Bronx Charter School for the Arts,2016-17,320,0,53,53,55,52,53,...,0.9%,0,0.0%,67,20.9%,51,15.9%,235,73.4%,84.0%
9165,84X730,Bronx Charter School for the Arts,2017-18,314,0,50,51,54,51,52,...,0.3%,0,0.0%,68,21.7%,57,18.2%,258,82.2%,89.1%
9166,84X730,Bronx Charter School for the Arts,2018-19,430,0,49,54,49,54,51,...,0.7%,0,0.0%,103,24.0%,71,16.5%,363,84.4%,88.8%
9167,84X730,Bronx Charter School for the Arts,2019-20,523,0,51,50,53,52,55,...,1.0%,0,0.0%,117,22.4%,69,13.2%,453,86.6%,89.2%
9168,84X730,Bronx Charter School for the Arts,2020-21,626,0,38,52,53,55,55,...,0.6%,1,0.2%,153,24.4%,78,12.5%,541,86.4%,88.2%

In [20]:
df = pd.read_csv('data/demographic-snapshot-2016-17-to-2020-21-public-school.csv', 
                 index_col=0, parse_dates=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9169 entries, 01M015 to 84X730
Data columns (total 42 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   School Name                        9169 non-null   object
 1   Year                               9169 non-null   object
 2   Total Enrollment                   9169 non-null   object
 3   Grade 3K+PK (Half Day & Full Day)  9169 non-null   object
 4   Grade K                            9169 non-null   int64
 5   Grade 1                            9169 non-null   int64
 6   Grade 2                            9169 non-null   int64
 7   Grade 3                            9169 non-null   int64
 8   Grade 4                            9169 non-null   int64
 9   Grade 5                            9169 non-null   int64
 10  Grade 6                            9169 non-null   int64
 11  Grade 7                            9169 non-null   int64
 12  Grade 8                            9169 non-null   int64
 13  Grade 9                            9169 non-null   object
 14  Grade 10                           9169 non-null   object
 15  Grade 11                           9169 non-null   object
 16  Grade 12                           9169 non-null   object
 17  # Female                           9169 non-null   object
 18  % Female                           9169 non-null   object
 19  # Male                             9169 non-null   object
 20  % Male                             9169 non-null   object
 21  # Asian                            9169 non-null   object
 22  % Asian                            9169 non-null   object
 23  # Black                            9169 non-null   object
 24  % Black                            9169 non-null   object
 25  # Hispanic                         9169 non-null   object
 26  % Hispanic                         9169 non-null   object
 27  # Multi-Racial                     9169 non-null   int64
 28  % Multi-Racial                     9169 non-null   object
 29  # Native American                  9169 non-null   int64
 30  % Native American                  9169 non-null   object
 31  # White                            9169 non-null   object
 32  % White                            9169 non-null   object
 33  # Missing Race/Ethnicity Data      9169 non-null   int64
 34  % Missing Race/Ethnicity Data      9169 non-null   object
 35  # Students with Disabilities       9169 non-null   int64
 36  % Students with Disabilities       9169 non-null   object
 37  # English Language Learners        9169 non-null   object
 38  % English Language Learners        9169 non-null   object
 39  # Poverty                          9169 non-null   object
 40  % Poverty                          9169 non-null   object
 41  Economic Need Index                9169 non-null   object
dtypes: int64(13), object(29)
memory usage: 3.0+ MB

In [21]:
df.head()

,School Name,Year,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
DBN,,,,,,,,,,,,,,,,,,,,,
01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,18,...,2.2%,0,0.0%,51,28.7%,12,6.7%,152,85.4%,88.2%
01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,26,...,3.2%,0,0.0%,49,25.8%,8,4.2%,161,84.7%,89.0%
01M015,P.S. 015 Roberto Clemente,2018-19,174,13,20,33,30,30,20,28,...,3.4%,0,0.0%,39,22.4%,8,4.6%,147,84.5%,88.8%
01M015,P.S. 015 Roberto Clemente,2019-20,190,14,29,28,38,33,29,19,...,4.7%,0,0.0%,46,24.2%,17,8.9%,155,81.6%,86.7%
01M015,P.S. 015 Roberto Clemente,2020-21,193,17,29,29,27,30,32,29,...,5.7%,0,0.0%,43,22.3%,21,10.9%,158,81.9%,85.6%

In [22]:
df.shape

(9169, 42)

In [23]:
# identify outliers with standard deviation
from numpy.random import seed
from numpy.random import randn
from numpy import mean
from numpy import std
# seed the random number generator
seed(1)
# generate univariate observations
df_data = 5 * randn(9169) + 50
# calculate summary statistics
data_mean, data_std = mean(df_data), std(df_data)
# identify outliers
cut_off = data_std * 3
lower, upper = data_mean - cut_off, data_mean + cut_off
# identify outliers
outliers = [x for x in df_data if x < lower or x > upper]
print('Identified outliers: %d' % len(outliers))
# remove outliers
outliers_removed = [x for x in df_data if x >= lower and x <= upper]
print('Non-outlier observations: %d' % len(outliers_removed))

Identified outliers: 26
Non-outlier observations: 9143

In [24]:
...
# calculate summary statistics
data_mean, data_std = mean(data), std(data)
# identify outliers
cut_off = data_std * 3
lower, upper = data_mean - cut_off, data_mean + cut_off

NameError: name 'data' is not defined

In [ ]:
...
# identify outliers
outliers = [x for x in data if x < lower or x > upper]
outliers

In [ ]:
# evaluate model on the raw dataset
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
# load the dataset
# url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'
df = read_csv('data/demographic-snapshot-2016-17-to-2020-21-public-school.csv', header=None)
# retrieve the array
data = df.values
# split into inpiut and output elements
X, y = data[:, :-1], data[:, -1]
# split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)
# fit the model
model = LinearRegression()
model.fit(X_train, y_train)
# evaluate the model
yhat = model.predict(X_test)
# evaluate predictions
mae = mean_absolute_error(y_test, yhat)
print('MAE: %.3f' % mae)

In [25]:
df.head()

,School Name,Year,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
DBN,,,,,,,,,,,,,,,,,,,,,
01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,18,...,2.2%,0,0.0%,51,28.7%,12,6.7%,152,85.4%,88.2%
01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,26,...,3.2%,0,0.0%,49,25.8%,8,4.2%,161,84.7%,89.0%
01M015,P.S. 015 Roberto Clemente,2018-19,174,13,20,33,30,30,20,28,...,3.4%,0,0.0%,39,22.4%,8,4.6%,147,84.5%,88.8%
01M015,P.S. 015 Roberto Clemente,2019-20,190,14,29,28,38,33,29,19,...,4.7%,0,0.0%,46,24.2%,17,8.9%,155,81.6%,86.7%
01M015,P.S. 015 Roberto Clemente,2020-21,193,17,29,29,27,30,32,29,...,5.7%,0,0.0%,43,22.3%,21,10.9%,158,81.9%,85.6%

In [29]:
df.to_csv('data/clean_demographic_snapshot_schools.csv', encoding='utf-8')