In [1]:
!pip install -r requirements.txt

Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (1.20.2)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (1.2.4)
Requirement already satisfied: sklearn in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (0.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->-r requirements.txt (line 2)) (1.15.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.8/site-packages (from sklearn->-r requirements.txt (line 3)) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (1.6.3)

In [2]:
import sklearn
import numpy as np
import pandas as pd

In [3]:
df_q1= pd.read_csv('data/ssa-report-pct-1q-2016.csv')
df_q2 = pd.read_csv('data/ssa-report-pct-2q-2016.csv')
df_q3 = pd.read_csv('data/ssa-report-pct-3q-2016.csv')
df_q4 = pd.read_csv('data/ssa-report-pct-4q-2016.csv')

In [4]:
df_q1

      Pct Intervention Type     Restraints Gender   Age                Race
0       1          Arrested            Yes      M  14.0      Black Hispanic
1       1   Juvenile Report  No Restraints      F  13.0  Asian/Pacific Isl.
2       1           Summons  No Restraints      M  16.0      White Hispanic
3       1           Summons            Yes      M  16.0               Black
4       1           Summons            Yes      M  16.0               Black
...   ...               ...            ...    ...   ...                 ...
1203  123   Juvenile Report  No Restraints      M  13.0      Black Hispanic
1204  123   Child in Crisis            Yes      F  14.0      White Hispanic
1205  123   Child in Crisis            Yes      F  13.0               Black
1206  123   Juvenile Report  No Restraints      M  14.0               Black
1207  123   Juvenile Report            Yes      M  14.0               Black

[1208 rows x 6 columns]

In [5]:
df_q1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1208 entries, 0 to 1207
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pct                1208 non-null   int64
 1   Intervention Type  1208 non-null   object
 2   Restraints         1208 non-null   object
 3   Gender             1208 non-null   object
 4   Age                1206 non-null   float64
 5   Race               1208 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 56.8+ KB

In [6]:
df_q2

,Pct,Intervention Type,Restraints,Gender,Age,Greater Than 21,Race
0,1,Summons,No Restraints,M,16,No,Black
1,1,Summons,No Restraints,M,16,No,Black
2,1,Summons,No Restraints,M,17,No,White Hispanic
3,1,Summons,No Restraints,M,18,No,White Hispanic
4,1,Summons,No Restraints,M,17,No,White Hispanic
...,...,...,...,...,...,...,...
1086,123,Juvenile Report,No Restraints,M,13,No,Black
1087,123,Juvenile Report,Metal,F,14,No,Black
1088,123,Juvenile Report,No Restraints,M,15,No,White
1089,123,Arrested,Metal,M,17,No,Black
1090,123,Summons,No Restraints,M,16,No,Black Hispanic

In [7]:
df_q2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091 entries, 0 to 1090
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pct                1091 non-null   int64
 1   Intervention Type  1091 non-null   object
 2   Restraints         1091 non-null   object
 3   Gender             1091 non-null   object
 4   Age                1091 non-null   int64
 5   Greater Than 21    1091 non-null   object
 6   Race               1091 non-null   object
dtypes: int64(2), object(5)
memory usage: 59.8+ KB

In [9]:
df_q3

     Pct Intervention Type     Restraints Gender   Age                Race
0      1          Arrested          Metal      M  16.0               Black
1      1   Child in Crisis  No Restraints      M  16.0  Asian/Pacific Isl.
2      1   Juvenile Report  No Restraints      F  15.0               Black
3      1   Juvenile Report  No Restraints      F  15.0               Black
4      1           Summons  No Restraints      F  16.0               Black
..   ...               ...            ...    ...   ...                 ...
730  123         Mitigated  No Restraints      M   6.0               White
731  123         Mitigated  No Restraints      M   6.0               White
732  123         Mitigated  No Restraints      M   8.0     American Indian
733  123           Summons          Metal      F  16.0               Black
734  123           Summons  No Restraints      M  16.0               White

[735 rows x 6 columns]

In [10]:
df_q3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pct                735 non-null    int64
 1   Intervention Type  735 non-null    object
 2   Restraints         735 non-null    object
 3   Gender             735 non-null    object
 4   Age                733 non-null    float64
 5   Race               735 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 34.6+ KB

In [11]:
df_q4

,Pct,Intervention Type,Restraints,Gender,Age,Race,Unnamed: 6,Unnamed: 7
0,1,Arrested,Metal,F,17.0,Black,NaN,NaN
1,1,Arrested,Metal,M,18.0,Black,NaN,NaN
2,1,Arrested,Metal,M,16.0,Black,NaN,NaN
3,1,Arrested,Metal,M,14.0,Black,NaN,NaN
4,1,Arrested,No Restraints,M,18.0,Black,NaN,NaN
...,...,...,...,...,...,...,...,...
2922,123,PINS / Warrant,Metal,M,15.0,Black,NaN,NaN
2923,123,Summons,Metal,M,18.0,Black,NaN,NaN
2924,123,Summons,No Restraints,F,44.0,White,NaN,NaN
2925,123,Summons,No Restraints,F,33.0,White,NaN,NaN
2926,123,Summons,No Restraints,F,38.0,White,NaN,NaN

In [13]:
del df_q4["Unnamed: 6"]
del df_q4["Unnamed: 7"]

In [14]:
df_q4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2927 entries, 0 to 2926
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pct                2927 non-null   int64
 1   Intervention Type  2927 non-null   object
 2   Restraints         2927 non-null   object
 3   Gender             2927 non-null   object
 4   Age                2910 non-null   float64
 5   Race               2927 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 137.3+ KB

In [15]:
df_first_half = pd.concat([df_q1, df_q2])

In [16]:
df_first_half

,Pct,Intervention Type,Restraints,Gender,Age,Race,Greater Than 21
0,1,Arrested,Yes,M,14.0,Black Hispanic,NaN
1,1,Juvenile Report,No Restraints,F,13.0,Asian/Pacific Isl.,NaN
2,1,Summons,No Restraints,M,16.0,White Hispanic,NaN
3,1,Summons,Yes,M,16.0,Black,NaN
4,1,Summons,Yes,M,16.0,Black,NaN
...,...,...,...,...,...,...,...
1086,123,Juvenile Report,No Restraints,M,13.0,Black,No
1087,123,Juvenile Report,Metal,F,14.0,Black,No
1088,123,Juvenile Report,No Restraints,M,15.0,White,No
1089,123,Arrested,Metal,M,17.0,Black,No
1090,123,Summons,No Restraints,M,16.0,Black Hispanic,No

In [17]:
df_second_half = pd.concat([df_q3, df_q4])

In [18]:
df_second_half

      Pct Intervention Type     Restraints Gender   Age                Race
0       1          Arrested          Metal      M  16.0               Black
1       1   Child in Crisis  No Restraints      M  16.0  Asian/Pacific Isl.
2       1   Juvenile Report  No Restraints      F  15.0               Black
3       1   Juvenile Report  No Restraints      F  15.0               Black
4       1           Summons  No Restraints      F  16.0               Black
...   ...               ...            ...    ...   ...                 ...
2922  123    PINS / Warrant          Metal      M  15.0               Black
2923  123           Summons          Metal      M  18.0               Black
2924  123           Summons  No Restraints      F  44.0               White
2925  123           Summons  No Restraints      F  33.0               White
2926  123           Summons  No Restraints      F  38.0               White

[3662 rows x 6 columns]

In [19]:
SSA_2016_PCT_df = pd.concat([df_first_half, df_second_half])

In [20]:
SSA_2016_PCT_df

,Pct,Intervention Type,Restraints,Gender,Age,Race,Greater Than 21
0,1,Arrested,Yes,M,14.0,Black Hispanic,NaN
1,1,Juvenile Report,No Restraints,F,13.0,Asian/Pacific Isl.,NaN
2,1,Summons,No Restraints,M,16.0,White Hispanic,NaN
3,1,Summons,Yes,M,16.0,Black,NaN
4,1,Summons,Yes,M,16.0,Black,NaN
...,...,...,...,...,...,...,...
2922,123,PINS / Warrant,Metal,M,15.0,Black,NaN
2923,123,Summons,Metal,M,18.0,Black,NaN
2924,123,Summons,No Restraints,F,44.0,White,NaN
2925,123,Summons,No Restraints,F,33.0,White,NaN
2926,123,Summons,No Restraints,F,38.0,White,NaN

In [22]:
SSA_2016_PCT_df = SSA_2016_PCT_df.drop(['Greater Than 21'], axis = 1)

In [23]:
SSA_2016_PCT_df

      Pct Intervention Type     Restraints Gender   Age                Race
0       1          Arrested            Yes      M  14.0      Black Hispanic
1       1   Juvenile Report  No Restraints      F  13.0  Asian/Pacific Isl.
2       1           Summons  No Restraints      M  16.0      White Hispanic
3       1           Summons            Yes      M  16.0               Black
4       1           Summons            Yes      M  16.0               Black
...   ...               ...            ...    ...   ...                 ...
2922  123    PINS / Warrant          Metal      M  15.0               Black
2923  123           Summons          Metal      M  18.0               Black
2924  123           Summons  No Restraints      F  44.0               White
2925  123           Summons  No Restraints      F  33.0               White
2926  123           Summons  No Restraints      F  38.0               White

[5961 rows x 6 columns]

In [24]:
SSA_2016_PCT_df.to_csv('data/clean_SSA_2016_PCT.csv', encoding='utf-8')